@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }
}

/**========================768===========================**/

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
        padding-left: 0;
        padding-right: 0;
    }

    /**===============HEADER===================**/

    .header-con {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        display: block;

        position: relative;

        padding-top: 24px;
        padding-bottom: 24px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-title-color);

        transition: color 250ms var(--timing-function);

    }

    .header-link:is(:hover, :focus) {
        color: var(--btn-hover);
    }

    .current {
        color: var(--btn-hover);
    }

    .header-link::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--underline);
        border-radius: 2px;
        opacity: 0;

        transition: opacity 250ms var(--timing-function);
    }

    .header-link:is(:hover, :focus):after {
        opacity: 1;
    }

    .header-link.current:after {
        opacity: 1;
    }

    .address {
        margin-left: auto;
    }

    .address-list {
        display: block;
    }

    .address-mail {
        margin-bottom: 12px;
    }

    .address-list .item+.item {
        /* margin-left: 40px; */
    }

    .contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--adrress-color);

        transition: color 250ms var(--timing-function);
    }

    .contact:is(:hover, :focus) {
        color: var(--btn-hover);
    }

    .button-burger,
    .mob-menu {
        display: none;
    }

    /**===============HERO===================**/
    .overlay {
        background-image: var(--grad), url(../images/hero/people-office-tab.jpg);
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;

        font-size: 56px;
        line-height: 1.07;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: var(--grad),
                url(../images/hero/people-office-tab-2x.jpg);
        }
    }

    /**=============FEATURES=================**/

    .features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .features-item {
        max-width: 356px;
        /* flex-basis: calc((100% - 24px)/2); */
    }

    /**===============TEAM==================**/

    .special-container {
        width: 552px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .section-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    /**============CUSTOMERS==============**/
    .special-container {
        padding: 96px 0;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: 168px;
        /* flex-basis: calc((100% - 48px)/3); */
    }

    .customers-link {
        padding: 16px 32px;
        width: 168px;
    }

    .customers-icon {
        width: 104px;
    }

    /**============FOOTER==============**/

    .footer-con {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 96px 108px;
    }

    .footer-tab {
        display: flex;
        margin: 0;
    }

    .logotype,
    .media-title,
    .footer-text-subscribe {
        text-align: left;
    }

    .soc-media {
        padding-left: 24px;
    }

    .subscribe {
        padding-top: 0;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: baseline;
    }

    .subscribe-field {
        margin-right: 24px;
        width: 264px;
    }

    .modal{
        max-width: 408px;
    }
}

/**========================1200===========================**/

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        padding: 120px 15px;
    }

    .header {
        width: 100%;
    }

    .header-con {
        width: 100%;
        padding: 0 156px;
    }

    .address-list {
        display: flex;
    }

    .address-list .item+.item {
        margin-left: 40px;
    }

    /**=============HERO=================**/

    .hero {
        padding: 188px 0;
    }

    .overlay {
        height: 600px;
        background-image: var(--grad), url(../images/hero/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: var(--grad),
                url(../images/hero/people-office-2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 48px;
    }

    /**=============FEATURES=================**/

    .features-item {
        flex-basis: calc((100% - 3 * 24px)/4);
    }

    .features-item::before {
        display: block;
        content: "";
        height: 112px;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--icon-color);
        border-radius: 4px;
    }

    .icon-strategy::before {

        background-image: url(../images/icons/antenna.svg);
    }

    .icon-punctuality::before {

        background-image: url(../images/icons/clock.svg);
    }

    .icon-diligence::before {

        background-image: url(../images/icons/diagram.svg);
    }

    .icon-technologies::before {

        background-image: url(../images/icons/astronaut.svg);
    }

    .section-title {
        text-align: start;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section-text {
        text-align: left;
        font-weight: 400;
    }

    /**===============WORK==================**/

    .work {
        display: block;
    }

    .work {
        padding-bottom: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .work-title {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--second-title-color);
    }

    .work-title {
        text-align: center
    }

    .work-title {
        text-transform: capitalize
    }

    .work-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .work-item {
        min-width: 360px;
        flex-basis: calc((100% - 48px) / 3);
    }

    /**===============TEAM==================**/

    .team {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .team-item {
        flex-basis: calc((100% - 3 * 24px)/4);
    }

    /**============CUSTOMERS==============**/

    .customers-list {
        gap: 24px;
    }

    /**============FOOTER==============**/

    .footer {
        width: 100%;
    }

    .footer-con {
        padding: 100px 0;
        align-items: start;

    }

    .footer-tab {
        gap: 120px;
        margin-right: 80px;
    }

    .left-part {
        width: 264px;
    }

    .footer-text {
        margin-bottom: 0;
    }

    .logotype .footer-text-subscribe {
        margin-bottom: 16px;
    }

    .soc-media {
        padding-left: 0;
    }

    .subscribe {
        width: 453px;
    }

    .subscribe-form {
        gap: 24px;
    }

    .footer-text-subscribe {
        margin-bottom: 16px;
    }

    .subscribe-field {
        width: 100%;
    }
}