:root {
    --main-title-color: #ffffff;
    --second-title-color: #2E2F42;
    --text-color: #434455;
    --adrress-color: #434455;
    --logo-web-color: #4D5AE5;
    --btn-hover: #404BBF;
    --customer-color: #8E8F99;
    --icon-color: #F4F4FD;
    --portfolio-bgc: #4D5AE5;
    --underline: #404BBF;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --pressed-state: #404BBF;
    --accent: #E7E9FC;
    --primary-clr: #FFFFFF;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --dark-overlay: rgba(46, 47, 66, 0.7);
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --modal-bcg: #FCFCFC;
    --text: #434455;
    --light: #F4F4FD;
    --accent: #E7E9FC;
    --light-slate: #8E8F99;
    --footer-hover: #31D0AA;
    --grad: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7))
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.container {
    width: 100%;
    padding: 96px 16px;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);
}

.button {
    padding: 16px 32px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
}

.button-dark {
    background-color: var(--primary-brand);
    color: var(--primary-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    text-transform: none;
    transition: background-color 250ms var(--timing-function);
}

.button-dark:is(:hover, :focus) {
    background-color: var(--pressed-state);
}

.list {
    list-style: none;
}

address {
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/**----------------------HEADER---------------------*/

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #E7E9FC;
}

.header-con {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 24px 16px;
    background-color: #ffffff;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.header-nav {
    display: flex;
    align-items: center;

}

.header-logo-web,
.footer-logo-web {
    color: var(--logo-web-color);
    margin-right: 76px;
}

.header-logo-studio {
    color: var(--second-title-color);
}

.header-list,
.address-list {
    display: none;
}

.button-burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger {
    stroke: var(--dark);
}

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

}

.mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-address {
    margin-top: auto;
}

.mob-list {
    margin-bottom: 50px;
}

.mob-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark);

    transition: color 250ms var(--timing-function);
}

.mob-link:is(:hover, :focus) {
    color: var(--btn-hover);
}

.current {
    color: var(--btn-hover);
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #4D5AE5;
}

.mob-contact:is(:hover, :focus) {
    color: var(--btn-hover);
}

.mob-address-mail {
    color: var(--adrress-color);
}

.mob-soc-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 56px;
    margin-top: 48px;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-icon {
    fill: var(--icon-color);
}

.mob-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    /* background-color: rgba(255, 255, 255, 0.1); */

    transition: background-color 250ms var(--timing-function);
}

.mob-soc-link:is(:hover, :focus) {
    background-color: var(--pressed-state);
}

/**----------------------HERO---------------------*/


.hero {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    padding: 112px 0;
    /* padding: 188px 0; */
}

.hero>.container {
    padding: 0;
}

.overlay {
    display: block;
    content: "";
    width: 100%;
    /* max-width: 1440px;
    height: 600px; */
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: var(--grad),
        url(../images/hero/bgi-mob.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        background-image: var(--grad),
            url(../images/hero/bgi-mob-2x.jpg);
    }
}

.hero-title {
    max-width: 320px;
    /* max-width: 496px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    /* margin-bottom: 48px; */
    font-size: 36px;
    line-height: 1.11;
    /* font-size: 56px; */
    /* line-height: 1.07; */
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.hero-btn {
    display: inline-flex;
    border: transparent;
    padding: 16px 32px;
    text-transform: none;
    color: #ffffff;
    background-color: #4D5AE5;
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--btn-hover);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**----------------------FEATURES---------------------*/

.features-title-hidden {
    text-align: center
}

.features-list {

    width: 100%;
}


.features-item {
    margin-bottom: 72px;
}

.features-item:last-child {
    margin-bottom: 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);

    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.section-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

/**----------------------WORK---------------------*/

.work {
    display: none;
}

/**----------------------TEAM---------------------*/

.team {
    background-color: #F4F4FD;
}

.team-main-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);

    padding-bottom: 72px;
}

.team-main-title {
    text-align: center
}

.team-main-title {
    text-transform: capitalize
}

.team-list {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 72px;
}

.team-item {
    /* flex-basis: calc((100% - 3 * 24px)/4); */
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    overflow: hidden;
}

.team-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 32px 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms var(--timing-function);
}

.team-soc-icon {
    fill: var(--icon-color);
}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--btn-hover);
}


/**----------------------CUSTOMERS---------------------*/

.customers-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.customers-title {
    text-align: center
}

.customers-title {
    text-transform: capitalize
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    /* gap: 24px; */
}

.customers-item {
    display: block;
    content: "";
    width: 190px;
    height: 88px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--customer-color);

    transition: color 250ms var(--timing-function);
}

.customers-item {
    /* flex-basis: calc((100% - 16px)/2); */
    /* flex-basis: calc((100% - 120px)/6); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-item {
    cursor: pointer;
}

.customers-link {
    border: 1px solid var(--customer-color);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 40px;

}

.customers-icon {
    fill: var(--customer-color);

    transition: fill 250ms var(--timing-function);
}

.customers-link:is(:hover, :focus) {
    border: 1px solid var(--btn-hover);
}

.customers-link:hover .customers-icon {
    fill: var(--btn-hover);
}

.customers-link:focus .customers-icon {
    fill: var(--btn-hover);
}

/**----------------------FOOTER---------------------*/

.footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E2F42;
}

.footer-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-tab {
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 72px; */
}

.left-part {
    /* display: inline-block; */
    width: 268px;
    margin-left: auto;
    margin-right: auto;
}

.logotype {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-web {
    margin: 0;
}

.footer-logo-studio {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
    margin-top: 16px;
    margin-bottom: 72px;
}

.media-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.media-soc-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.media-soc-item {
    width: 40px;
    height: 40px;
}

.media-soc-icon {
    fill: var(--icon-color);
}

.media-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    /* background-color: rgba(255, 255, 255, 0.1); */

    transition: background-color 250ms var(--timing-function);
}

.media-soc-link:is(:hover, :focus) {
    background-color: var(--pressed-state);
}

.subscribe {
    padding-top: 72px;
    /* margin-left: auto;
    margin-right: auto; */
}

.footer-text-subscribe {
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe-field {
    outline: none;

    padding: 8px 16px;
    margin-bottom: 16px;

    color: var(--primary-clr);
    border: 1px solid var(--primary-clr);
    background-color: transparent;
    border-radius: 4px;
    min-height: 40px;
    width: 398px;
}

.subscribe-field::placeholder {
    color: var(--primary-clr);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-text-subscribe {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subscribe-form>.button {
    position: relative;

    padding: 8px 64px 8px 24px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-icon {
    position: absolute;
    top: 8px;
    right: 24px;

    height: 24px;
    width: 24px;
    color: #ffffff;
}

/**----------------------PORTFOLIO---------------------*/

.portfolio {
    padding: 96px 0 120px 0;
}

.main-title {
    display: none;
}

.buttons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.buttons-list .item+.item {
    margin-left: 24px;
}

.portfolio-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: transparent;
    text-transform: none;
    color: #4D5AE5;
    background-color: #F4F4FD;
    padding: 12px 24px;
}

.portfolio-btn:is(:hover, :focus) {
    color: #ffffff;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px)/3);
}

.product-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover .overlay-text:focus {
    transition: transform 250ms var(--timing-function);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--portfolio-bgc);
    transform: translateY(+100%);
    transition: transform 250ms var(--timing-function);
}

.portfolio-item:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: transform 250ms var(--timing-function);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0%);
    transition: transform 250ms var(--timing-function);
}

.portfolio-item:focus .portfolio-overlay {
    transform: translateY(0%);
    transition: transform 250ms var(--timing-function);
}

.portfolio-link:hover .portfolio-overlay {
    transform: translateY(0%);
    transition: transform 250ms var(--timing-function);
}

.portfolio-link:focus .portfolio-overlay {
    transform: translateY(0%);
    transition: transform 250ms var(--timing-function);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    padding: 40px 32px 164px 32px;
}

.card-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
}

.card-text {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.card-text:is(:hover, :focus) {
    border-left: 1px solid #F4F4FD;
    border-right: 1px solid #F4F4FD;
    border-bottom: 1px solid #F4F4FD;
}

/**----------------------MODAL---------------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--modal-overlay);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms var(--timing-function);

    background: var(--modal-bcg);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 392px;
    max-height: 586px;
    /* max-width: 408px; */
    width: 100%;

    padding: 72px 24px 24px;
}

.button-close {
    position: fixed;
    top: 24px;
    right: 24px;

    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: none;
    background-color: var(--accent);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    fill: black;
}

.button-close:is(:hover, :focus) {
    background-color: var(--pressed-state);
    fill: #FFFFFF;
}

.btn-close {
    align-items: center;
    justify-content: center;
    height: 8px;
    width: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-direction {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-align: center;

    margin-bottom: 16px;
}

.form-label {
    margin-bottom: 8px;
}

.label-description {
    display: block;

    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--light-slate);
}

.input-wrapper-box {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;

    padding-left: 38px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
}

.form-input:focus,
.form-input-area:focus {
    outline: none;
    border-color: var(--primary-brand);
}

.form-input:focus+.form-icon {
    fill: var(--primary-brand);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    display: block;
    width: 18px;
    height: 18px;
    fill: var(--dark);
    transition: fill 250ms var(--timing-function);
}

.form-input-area {
    resize: none;
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    padding: 8px 16px;
}

.form-input-area::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4)
}

.pseudo-checkbox {
    content: "";

    margin-right: 8px;
    display: block;

    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--primary-clr);
    transition: border 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.check-mark {
    width: 14px;
    height: 8px;
}

.form-input-check:checked+.pseudo-checkbox {
    background-color: var(--pressed-state);
    border: 1px solid var(--pressed-state);
}

.form-policy-description {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);

    display: flex;
    align-items: center;

    margin-bottom: 24px;
}

.form-policy-description>a {
    color: var(--primary-brand);
    line-height: 1.33;
}

.modal-form>.button {
    min-width: 169px;
    align-self: center;
}